extends layout
block content
    center
        table
            th 이름
            th 잔류신청
            for remainInfo in remains
                if user1
                    if remainInfo.user.id === user1.id
                        tr
                            td.me= remainInfo.user.realname
                            td.me= remainInfo.status === 0 ? '잔류' : remainInfo.status === 1 ? '금요귀가' : remainInfo.status === 2 ? '토요귀가' : '토요귀사'
                    else
                        tr
                            td.other= remainInfo.user.realname
                            td.other= remainInfo.status === 0 ? '잔류' : remainInfo.status === 1 ? '금요귀가' : remainInfo.status === 2 ? '토요귀가' : '토요귀사'
                else
                    tr
                        td.other= remainInfo.user.realname
                        td.other= remainInfo.status === 0 ? '잔류' : remainInfo.status === 1 ? '금요귀가' : remainInfo.status === 2 ? '토요귀가' : '토요귀사'
    div.innerbox3
        a(href="/apply/remain")
            button.another 잔류신청
        a(href="/apply/music")
            button.another 기상음악신청
        a(href="/all/remain")
            button.now 전체잔류신청
        a(href="/all/music")
            button.another 기상음악조회
